<section id="one" class="wrapper style1" style="background-color:#FFFFFF">
  <div class="inner">
	<%= render 'form', institution: @institution, student: @student %>

	<%= link_to 'Show', institution_student_path(@institution,@student) %> 
  </div>
</section>