<h1>Editing Student</h1>

<%= render 'form', institution: @institution, student: @student %>

<%= link_to 'Show', institution_student_path(@institution,@student) %> |
<%= link_to 'Back', institution_students_path(@institution) %>
