<section id="one" class="wrapper style1" style="background-color:#FFFFFF">
  <div class="inner">
  	<%= render 'form', institution: @institution %>

	<%= link_to 'Show', @institution , :class => "button alt"%> 
  </div>
</section>